@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    transition: all 3s ease-in-out;
}

html {
    box-sizing: border-box;
    line-height: 1.6;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg,#ccdcff 0%,#ffffff 100%);
    height:100vh;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.card {
    background-color: white;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 7px 7px 50px -10px rgba(0,0,0,0.1);
    border: .1rem solid black;
    margin: 2rem;
}

.container-lock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-content {
    display: none;
}


#lock-status {
    text-align: center;
}

.container-user {
    flex: 1;
}

#tab-pincode {
    flex-wrap: wrap;
}

#tab-pincode .form-pincode {
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    font-size:20px;
    padding: 5px;
    border-radius: .5rem;
}



.video {
    display: none;
    position: relative;
    width: 48%;
    aspect-ratio: 4 / 3;
    border: 2px solid blue;
    position: relative;
}

.message {
    display: none;
    color: #cd6ee3;
}


#timer {
    display: none;
    background-color: gray;
    margin: 0;
}


.lock {
    font-size: 8px;
    position: relative;
    width: 18em;
    height: 13em;
    border-radius: 2em;
    top: 10em;
    box-sizing: border-box;
    border: 3.5em solid #206489;
    border-right-width: 7.5em;
    border-left-width: 7.5em;
    margin: 0 0 6rem 0;
    animation: shake 2s linear infinite;
    color: #00acee;
}

#lock-top {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: 2.5em solid #00acee;
    width: 14em;
    height: 10em;
    left: 50%;
    margin-left: -7em;
    top: -12em;
    border-top-left-radius: 7em;
    border-top-right-radius: 7em;
    border-bottom : none;
}

.no-animation {
    animation: none;
}

.lock:after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: 1em solid red;
    width: 5em;
    height: 8em;
    border-radius: 2.5em;
    left: 50%;
    top: -1em;
    margin-left: -2.5em;
}

@keyframes shake {
    10%,
    90% {
        transform: translate(-1px, 0);
    }

    20%,
    80% {
        transform: translate(4px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate(-8px, 0);
    }

    40%,
    60% {
        transform: translate(8px, 0);
    }
}